@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(241,245,241);
}


/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 16px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #2779FF;
  }
  